name: Publish NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore & Build & Test
        run: |
          dotnet restore
          dotnet build --configuration Release --no-restore
          dotnet test --configuration Release --no-build --verbosity normal

      - name: Pack
        run: |
          VERSION=${{ github.ref_name }}
          VERSION=${VERSION#v}
          dotnet pack src/ZeroCqrs/ZeroCqrs.csproj \
            --configuration Release \
            \
            -o ./artifacts                            \
            -p:Version=$VERSION                       \
            -p:RepositoryUrl=https://github.com/cportet/ZeroCqrs

      - name: Publish to NuGet
        run: |
          dotnet nuget push "./artifacts/*.nupkg" \
            --source https://api.nuget.org/v3/index.json \
            --skip-duplicate \
            --api-key az